page {
  color: #010101;
  background-color: #f8f8f8;
  font-size: 28rpx;
  font-weight: 500;
}
.no-scrollbar ::-webkit-scrollbar {
  display: none;
  width: 0 !important;
  height: 0 !important;
}
.c {
  margin: 0 30rpx;
}
.image-top {
  width: 100vw;
  height: 730rpx;
  background-color: #eee;
}
.footer-float-wrapper {
  position: fixed;
  bottom: 144rpx;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn-1 {
  width: 220rpx;
  height: 80rpx;
  line-height: 80rpx;
  font-size: 28rpx;
  background: #010101;
  color: #fff;
  box-shadow: 0rpx 16rpx 40rpx 0rpx rgba(76, 75, 75, 0.25);
  border-radius: 80rpx;
  padding: 0;
}
.btn-2 {
  width: 100%;
  height: 104rpx;
  line-height: 100rpx;
  background: #ffffff;
  border-radius: 16rpx;
  border: 2rpx solid #010101;
  box-sizing: border-box;
  color: #010101;
  font-size: 30rpx;
  font-weight: bold;
}
.btn-3 {
  width: 100%;
  height: 104rpx;
  line-height: 104rpx;
  background: #010101;
  border-radius: 16rpx;
  border: 2rpx solid #010101;
  box-sizing: border-box;
  color: #fff;
  font-size: 30rpx;
  font-weight: bold;
}
.scroll-content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: max-content;
  overflow-x: hidden;
}
.bottom-btn-wrapper {
  box-sizing: border-box;
  padding: 30rpx 30rpx 108rpx;
}
.bottom-btn-wrapper-fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 30rpx 30rpx 108rpx;
}
.card {
  background-color: #fff;
  border-radius: 16rpx;
  padding: 30rpx;
  overflow: hidden;
}
.card-title {
  border-bottom: 2rpx solid #eeeeee;
  padding: 0 30rpx 32rpx 30rpx;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  font-weight: 500;
}
.card-title-left {
  font-weight: bold;
}
.card.circle {
  position: relative;
  overflow: hidden;
  margin-top: 30rpx;
}
.card.circle::before,
.card.circle::after {
  content: "";
  position: absolute;
  width: 308rpx;
  height: 308rpx;
  border-radius: 278rpx;
  background: linear-gradient(180deg, #000000 0%, #ffffff 100%);
  opacity: 0.08;
  z-index: 1;
}
.card.circle::before {
  left: 0;
  top: 0;
  transform: translate(-20%, -20%);
}
.card.circle::after {
  right: 0;
  bottom: 0;
  transform: translate(40%, 40%);
}
.clean-button {
  all: unset;
  border: none !important;
  display: block;
}
.clean-button::after {
  content: none;
}
.scroll-mask-x {
  overflow: hidden;
  width: 100%;
  position: relative;
  background-color: #fff;
}
.scroll-x-hidden {
  white-space: nowrap;
  display: flex;
  flex-direction: row;
}
.bg-color-mask {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 5;
}
.image-wrapper {
  position: relative;
}
.image-wrapper .box {
  box-sizing: border-box;
  position: absolute;
  inset: 20rpx 20rpx 28rpx 20rpx;
  border: 4rpx solid rgba(1, 1, 1, 0.4);
}
.image-wrapper .box-topLeft,
.image-wrapper .box-topRight,
.image-wrapper .box-bottomLeft,
.image-wrapper .box-bottomRight {
  position: absolute;
}
.image-wrapper .box-topLeft::before,
.image-wrapper .box-topRight::before,
.image-wrapper .box-bottomLeft::before,
.image-wrapper .box-bottomRight::before,
.image-wrapper .box-topLeft::after,
.image-wrapper .box-topRight::after,
.image-wrapper .box-bottomLeft::after,
.image-wrapper .box-bottomRight::after {
  content: "";
  width: 8rpx;
  height: 60rpx;
  background-color: rgba(1, 1, 1, 0.8);
  position: absolute;
}
.image-wrapper .box-topLeft::after,
.image-wrapper .box-topRight::after,
.image-wrapper .box-bottomLeft::after,
.image-wrapper .box-bottomRight::after {
  transform: rotate(-90deg) translateX(-4rpx);
  transform-origin: top center;
}
.image-wrapper .box-topLeft {
  left: -8rpx;
  top: -8rpx;
}
.image-wrapper .box-topRight {
  right: -8rpx;
  top: -8rpx;
  transform: rotate(90deg);
}
.image-wrapper .box-bottomLeft {
  left: -8rpx;
  bottom: -8rpx;
  transform: rotate(-90deg);
  transform-origin: center;
}
.image-wrapper .box-bottomRight {
  right: -8rpx;
  bottom: -8rpx;
  transform: rotate(180deg);
  transform-origin: center;
}
.signature-list {
  display: flex;
  flex-wrap: wrap;
  gap: 18rpx;
  justify-content: space-between;
}
.signature-list-item {
  width: 332rpx;
  height: 174rpx;
  overflow: hidden;
  background: #ffffff;
  border-radius: 16rpx 16rpx 16rpx 16rpx;
  border: 2rpx solid #010101;
  display: flex;
  align-items: center;
  justify-content: center;
}
.signature-list-item .item {
  position: relative;
}
.signature-list-item.active {
  color: #fff;
  background-color: #010101;
}
.signature-list-item.drag {
  background-color: transparent;
  border: none;
  border-radius: 0;
  width: fit-content;
  height: auto;
}
